body {

    background-color: black;
    color: white;
    size: 12px;
    align-items: stretch;
    line-height: 1.5;
    width: 95%;
    height: 100vh;

}



.mb {

    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    box-sizing: border-box;
}

.mb:hover {
    background-color: darkgoldenrod;
}

.modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    height: 100%;
    justify-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: max(1vw);
    row-gap: 1vw;

}

.button_subtitle {
    font-size: .8rem;
}

.module_subtitle {
    font-size: 1.5rem;
}