.mb {

    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    box-sizing: border-box;
}

.mb:hover {
    background-color: darkgoldenrod;
}

.modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;


}

#menu {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 15%;
    column-gap: 2%;
    grid-area: auto;
    grid-auto-rows: minmax(10px, auto);
    width: 40%;
    margin: auto;
}